{% extends 'prob/base.html' %}
{% load staticfiles %}

{% block title %}Probabilidade{% endblock %}

{% block body_block %}

    <div class="page-header"><h1>Probabilidade</h1></div>
    <div class="row">            
            <div class="col-md-4 text-center">          
                    <img id="img_dado" src="{% static 'images/dado.png' %}" width="30%">
            <br/><br/>
            <form class="form-inline">
                Simular
                <select name="n01" id="n01" class="form-control">
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="3000">3000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                </select>
                jogadas
            <button id="btn_dado01" type="button">OK!</button><br/><br/>                
            <p><input type="checkbox" onclick="destacar_moda01();" name="moda_um_dado" id="cb_moda01" value= "sim"/> Destacar o valor que ocorre com maior frequência</p>
            </form><br><br>
            </div>
            <div class="col-md-4 text-center">
                <p><img id="grafico1" src="{% url 'graf_um_dado' %}" width="100%"></p>
            </div>
    </div>
<hr>

    <div class="row">
            <div class="col-md-4 text-center"> 
                    <img id="img_dados" src="{% static 'images/dados.png' %}" width="60%">
            <form class="form-inline">
                Simular
                <select name="n02" id="n02" class="form-control">
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="3000">3000</option>
                    <option value="5000">5000</option>
                    <option value="10000">10000</option>
                </select>
                jogadas
                <button id="btn_dado02" type="button">OK!</button><br/><br/> 
            <p><input type="checkbox" onclick="destacar_moda02();" name="moda_dois_dados" id="cb_moda02" value= "sim"/> Destacar o valor que ocorre com maior frequência</p>
            </form>
            </div>
            <div class="col-md-4 text-center">   
                <p><img id="grafico2" src="{% url 'graf_dois_dados_moda' %}" width="100%"></p>
            </div>
    </div> 
    <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <p><a id="proximo" href="{% url 'binomial' %}" text-align="right" class="btn btn-primary"> > > </a></p>
            </div>
    </div>

{% endblock %}

{% block next_block %} {% url 'posicao_central' %} {% endblock %}