{% extends 'activities/base.html' %}

{% load staticfiles %}

{% block title %}Suposição de Probabilidades{% endblock %}

{% block body_block %}
<link href="{% static 'css/artigos.css' %}" rel="stylesheet">


<div class="page-header"><h1>Suposição de Probabilidades</h1></div>

    <p>
        <div class="container">
            <div class="quadrado" id="verde"></div>
            <div class="quadrado" id="vermelho"></div>
        </div>

    </p>

{% endblock %}

{% block next_block %}{% url 'espaco_amostral' %}{% endblock %}