{% extends 'activities/base.html' %}

{% block title %}Agrupamento Discreto{% endblock %}

{% block body_block %}

    <div class="page-header"><h1>Agrupamento Discreto</h1></div>
    
    <div class="row">
        <div class="well text-justify">
            <p>
            Aprendemos a calcular a Frequência Individual, Frequência
            Acumulada, Frequência Relativa e Frequência Acumulada Relativa.
            Agora vamos revisar os conceitos básicos para iniciar a análise
            dos dados!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">       
            <table class="table table-striped table-bordered col-md-4">
                <tr><th>xi</th><th>fi</th><th>fr (%)</th><th>Fac</th><th>Facr (%)</th></tr>
                {% for valor in lista %}
                <tr>
                    <td id="final_xi{{ forloop.counter }}">{{ valor.0 }}</td>
                    <td id="final_fi{{ forloop.counter }}">{{ valor.1 }}</td>
                    <td id="final_fr{{ forloop.counter }}">{{ valor.2 }}</td>
                    <td id="final_fac{{ forloop.counter }}">{{ valor.3 }}</td>
                    <td id="final_facr{{ forloop.counter }}">{{ valor.4 }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
            Veja as questões abaixo. Você consegue respondê-las? Passe o mouse
            sobre cada uma para exibir a resposta correta.
            </div>
        

        <div class="panel-body">
                <div id="questao1" class="questoes">
                    <p class="v-center">Quantas vezes o valor 5 ocorreu?</p>
                </div>
                <div id="questao2" class="questoes">
                    Qual o percentual de ocorrências do valor 2?
                </div>
                <div id="questao3" class="questoes">
                    Quantas vezes foram observados valores menores que 4?
                </div>
                <div id="questao4" class="questoes">
                    Qual o percentual de ocorrências de valores maiores que 3?
                </div>
        

        <div class="row" id="resposta">
            <p id="resposta1" class="hidden">
                <strong>{{ resposta1 }}</strong> vezes. Esse dado pode ser
                encontrado observando a Frequência Acumulada correspondente 
                ao valor 5.
            </p>
            <p id="resposta2" class="hidden">
                <strong>{{ resposta2 }}%</strong>. Esse dado pode ser
                encontrado na Frequência Relativa correspondente ao valor 2.
            </p>
            <p id="resposta3" class="hidden">
                <strong>{{ resposta3 }}</strong> vezes. Se procuramos as
                ocorrências dos valores <strong>menores</strong> que 4, isso 
                significa que os valores maiores ou iguais a 4 não fazem parte
                do nosso resultado. Procuraremos então o valor de ocorrências
                menores ou iguais a 3, esse dado pode ser encontrado na
                Frequência Acumulada correspondente ao valor 3.
            </p>
            <p id="resposta4" class="hidden">
                <strong>{{ resposta4 }}%</strong>. Se procuramos as ocorrências
                dos valores <strong>maiores</strong> que 3, basta 
                subtrair do conjunto total (100%) as ocorrências de valores 
                menores ou iguais a 3.
            </p>
        </div>

 </div>
{% endblock %}

{% block next_block %} {% url 'posicao_central' %} {% endblock %}