{% extends 'prob/base.html' %}
{% load staticfiles %}

{% block title %}Agrupamento Discreto{% endblock %}

{% block body_block %}

    <div class="page-header"><h1>Probabilidade</h1></div>
    <div class="row">
        <div class="well text-justify">
            <p>Ao jogar um único dado, as probabilidades de obter cada um dos 
                seis possíveis resultados são iguais, porém, ao jogar dois 
                dados, podemos observar um comportamento bem diferente.

                O valor que ocorre com maior frequencia é chamado de 
                <strong>moda</strong>. Ao jogar os dados abaixo, indicaremos
                 esses valores com a cor vermelha.</p>
            </p>
        </div>
    </div>
    
    <div class="row">
            <div class="col-md-4 text-center">          
                <p><button id="um_dado_moda" type="button" class="btn btn-link">
                    <img id="img_dado" src="{% static 'images/dado.png' %}" width="40%">
                </button></p>
            </div>

            <div class="col-md-4 text-center">
                <button id="dois_dados_moda" type="button" class="btn btn-link">
                    <img id="img_dados" src="{% static 'images/dados.png' %}" width="60%">
                </button>
            </div>
    </div>

    <div class="row">
            <div class="col-md-4 text-center"> 
                <p><img id="grafico1" src="{% url 'graf_um_dado_moda' %}" width="100%"></p>
            </div>
            <div class="col-md-4 text-center">   
                <p><img id="grafico2" src="{% url 'graf_dois_dados_moda' %}" width="100%"></p>
            </div>
            <div class="col-md-4 text-center">
                <p id="mensagem" class="hidden">
                    Ao jogar dois dados, temos poucas chances de obter os
                    valores extremos. Só há  1 combinaçao
                    possível que gere o resultado <span data-toggle="tooltip" 
                            data-placement="left" title="(1, 1)">
                    <strong class="text-primary">2</strong></span>.
                    O mesmo ocorre com o valor <span data-toggle="tooltip" 
                            data-placement="left" title="(6, 6)">
                    <strong class="text-primary">12</strong></span>. 
                    Já o valor <span data-toggle="tooltip" 
                            data-placement="left" title="(1, 6); (2, 5); (3, 4); (4, 3); (5, 2); (6, 1) ">
                    <strong class="text-primary">7</strong></span>
                    pode ser obtido através de 6 diferentes combinações. 
                </p>
                <p><a id="proximo" class="hidden" href="{% url 'prob03' %}">Próximo</a></p>
            </div>
    </div>    
    </div>

{% endblock %}

{% block next_block %} {% url 'posicao_central' %} {% endblock %}