{% extends 'prob/base.html' %}
{% load staticfiles %}

{% block title %}Agrupamento Discreto{% endblock %}

{% block body_block %}

    <div class="page-header"><h1>Probabilidade</h1></div>
    <div class="row">
        <div class="well text-justify">
            <p>Percebeu que ao jogar dois dados a <b>moda</b> encontra-se sempre
                na posição central do nosso gráfico?! Essa posição é o que chamamos
                de <b>mediana</b>.

            </p>
        </div>
    </div>
    
    <div class="row">
            <div class="col-md-4 text-center">          
                <p><button id="um_dado_moda" type="button" class="btn btn-link">
                    <img id="img_dado" src="{% static 'images/dado.png' %}" width="40%">
                </button></p>
            </div>

            <div class="col-md-4 text-center">
                <button id="dois_dados_moda" type="button" class="btn btn-link">
                    <img id="img_dados" src="{% static 'images/dados.png' %}" width="60%">
                </button>
            </div>
    </div>

    <div class="row">
            <div class="col-md-4 text-center"> 
                <p><img id="grafico1" src="{% url 'graf_um_dado_moda' %}" width="100%"></p>
            </div>
            <div class="col-md-4 text-center">   
                <p><img id="grafico2" src="{% url 'graf_dois_dados_moda' %}" width="100%"></p>
            </div>
            <div class="col-md-4 text-center">
                <p id="mensagem" class="hidden">

                </p>
                <p><a id="proximo" class="hidden" href="{% url 'prob03' %}">Próximo</a></p>
            </div>
    </div>    
    </div>

{% endblock %}

{% block next_block %} {% url 'posicao_central' %} {% endblock %}