{% extends 'activities/base.html' %}

{% block title %}Agrupamento Discreto{% endblock %}

{% block body_block %}

    <div class="page-header"><h1>Agrupamento Discreto</h1></div>
    
    <div class="row">
        <div class="well text-justify">
            <p>A <strong>Frequência Acumulada Relativa (Facr)</strong> pode ser calculada através da divisão da Frequência Acumulada pelo espaço amostral.</p>
            <p>Preencha o campo em branco com o valor correto.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">       
            <table class="table table-striped table-bordered col-md-4">
                <tr><th>xi</th><th>Fac</th><th>Facr (%)</th></tr>
                {% for valor in lista %}           
                <tr>
                    <td>{{ valor.0 }}</td>            
                    <td>{{ valor.1 }}</td>
                    <td {% if not acerto %}id="facr{{ forloop.counter }}"{% endif %}>{{ valor.2 }}</td>
                </tr>
                {% endfor %}
                    <tr>
                        <td></td>
                        <td><strong>N = {{ n }}</strong></td>
                        <td></td>
                    </tr>
            </table>
        </div>

    <div class="col-md-6 text-justify">
    {% if acerto %}
        <p class="alert alert-warning">
            A última Facr representa o conjunto total, por isso seu valor sempre
            será igual a 100%.
        </p>
    {% else %}       
        <p>A quarta linha está faltando. Preencha o campo com o valor correto.</p>
        <div class="col-md-6">
            <form method='post'>
                {% csrf_token %}
                {{ form.facr }}
                <button id="fac" class="btn btn-primary" type="submit" name="submit">OK!</button>
            </form>
        </div>
    {% endif %}
    </div>

 </div>
{% endblock %}

{% block next_block %} {% url 'tabela_frequencias' %} {% endblock %}